{{define "title"}}Home{{end}}

{{define "body"}}
    <div class="row">
    {{ if .user}}
        <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();

            window.drinks = {
                {{- range $k,$v := .drinks}}
                "{{$k}}":{{$v}},
                {{- end }}
            }

            $('#drink').autocomplete({
                minLength:0,
                data: {
                    {{- range $k,$v := .drinks}}
                    "{{$k}}":null,
                    {{- end }}
                }});

            // update amount slider based on drink
            $('#drink').on("val input change", function(){
                if (!($(this).val() in drinks)) {
                    console.log($(this).val() + " = unknown");
                    $('.amount-info').hide();
                } else if (drinks[$(this).val()] == true) {
                    console.log($(this).val() + " = espresso");
                    $("#amount").attr('min',1).attr('max',4).val(2);
                    $("#amount-unit-label").text("shots");
                    $("#amount-unit").val("shots");
                    $('.amount-info').show();
                } else {
                    console.log($(this).val() + " = coffee");
                    $("#amount").attr('min',6).attr('max',20).val(12);
                    $("#amount-unit-label").text("oz.");
                    $("#amount-unit").val("oz");
                    $('.amount-info').show();
                }
                $("#amount").trigger('change');
            });

            // show brew method input
            $("#homebrew").change(function() {
                (this.checked) ? $('.brew-info').show(): $('.brew-info').hide();
            });

            $('#roaster').autocompleteajax({
                minLength:0,
                data:{},
                delay: 350,
                ajax: {
                    url: "/autocomplete/roaster",
                    method: "get",
                    dataType: "json",
                },
                callback: function(res) {
                    console.log(res);
                }
            });

            $('#amount').on("change blur", (function(){ $('#amount-val').text($(this).val()); }));
            $('#amount').val("2").trigger("change");
            $('#drink').trigger("change"); // to show the amount-info

            $("#picture").on("change input val",(function(){
                var input=this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {$('#picture-preview').attr('src', e.target.result).show();}
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $('#picture-preview').hide();
                }
            }));
        });
        </script>
        <div class="record-form col s12 m9 offset-m2 l8 offset-l2">
        <form action="/coffee" method="post" enctype="multipart/form-data">
            <h3>Log caffeine</h3>
            <!--
                - P2 location: autocomplete + rpc, chip
                - P2 date: datepicker + select
                - P3: beans name: autocomplete + rpc, chip
            -->
            <div class="row">
                <div class="input-field switch col s12">
                <label>
                    Coffee Shop
                    <input type="checkbox" id="homebrew" name="homebrew">
                    <span class="lever"></span>
                    Homebrew
                </label>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="input-field col s6 m4">
                    <input type="text" id="drink" name="drink" class="autocomplete">
                    <label for="drink">Drink</label>
                </div>

                <div class="brew-info input-field col s6 m4" style="display:none;">
                    <select id="brew-method" name="brew-method">
                        <option value="" disabled selected>Choose a method</option>
                        <option>Espresso</option>
                        <option>Chemex</option>
                        <option>Aeropress</option>
                        <option>Hario V60</option>
                        <option>French press</option>
                        <option>Dripper</option>
                        <option>Cold Brew</option>
                        <option>Moka Pot</option>
                        <option>Turkish coffee</option>
                        <option>Ethiopian ceremony</option>
                    </select>
                    <label for="brew-method">Brew method</label>
                </div>

                <div class="amount-info input-field range-field col s12 m4" style="display:none;">
                    <input type="range" id="amount" name="amount" min="1" max="4" style="width: 75%;"/>
                    <nobr><span id="amount-val"></span>
                    <span id="amount-unit-label">shots</span></nobr>
                    <input id="amount-unit" name="amount_unit" type="hidden"/>
                </div>
            </div>

            <div class="row beans-info">
                <div class="input-field col s6">
                    <input type="text" id="roaster" name="roaster" class="autocomplete"/>
                    <label for="roaster">Roaster</label>
                </div>
                <div class="input-field col s6">
                    <select name="origin" type="origin">
                        <option value="" disabled selected>Origin</option>
                    {{range $k, $v := .originCountries}}
                        <optgroup label="{{$k}}">
                            {{range $country := $v}}
                            <option value="{{$country}}">{{$country}}</option>
                            {{end}}
                        </optgroup>
                    {{end}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="notes" name="notes" class="materialize-textarea"></textarea>
                    <label for="textarea1">Tasting/Brewing Notes</label>
                </div>
            </div>

            <div class="row file-field input-field">
                <div class="col s6">
                    <div class="btn">
                        <span>Add picture</span>
                        <input type="file" id="picture" name="picture">
                    </div>
                    <div class="file-path-wrapper hide-on-med-and-down">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="col s6">
                    <button class="btn waves-effect waves-light blue right" type="submit">Log Drink</button>
                </div>
            </div>

            <div class="row">
                <div class="col s12"><img id="picture-preview" style="height:auto;width:100%;"/></div>
            </div>
        </form>
        </div>
    {{ else }}
        <h3>Hello!</h3>
    {{ end }}
    </div>
{{end}}
